:root {
  /* PRIMARY COLORS*/
  --clr-blue-400: hsl(180, 66%, 49%);
  --clr-purple-950: hsl(257, 27%, 26%);

  /* SECONDARY COLORS*/
  --clr-red-400: hsl(0, 87%, 67%);

  /*  NEUTRAL COLORS*/
  --clr-gray-400: hsl(0, 0%, 75%);
  --clr-gray-500: hsl(257, 7%, 63%);
  --clr-gray-900: hsl(255, 11%, 22%);
  --Gray-950: hsl(260, 8%, 14%);


  /*  FONTS*/
  --font-size-18px: 18px;
  --fnt-weight-500: 500;
  --fnt-weight-700: 700;
}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
body {
  font-family: 'Poppins';
  overflow-x: hidden;
  height: 100vh;
}

.mob-header {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 1.2rem 1.5rem;
}
.desktop-header {
  display: none;
}

main {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  gap: 1.5rem;
}

.div-main-image {
  width: 100%;
  height: auto;
  /* border: solid red; */
  display: flex;
  justify-content: center;
  align-items: center;
  overflow: hidden;
}

.main-img{
  position: relative;
  top: 2rem;
  left: 10rem;
}

.menu-icon {
  height: 32px;
  width: 32px;
}

h1 {
  text-align: center;
  font-size: 2.5rem;
  color: var(--clr-gray-900);
  margin-top: 2rem;
  padding: 0 .6rem;
}

.main-description {
  padding: 0 1.5rem;
  text-align: center;
  font-size: 1.3rem;
  color: var(--clr-gray-500);
}
.description {
  text-align: center;
  font-size: 1.3rem;
  color: var(--clr-gray-500);
}

.btn-get-started {
  outline: none;
  border: none;
  background-color: var(--clr-blue-400);
  color: white;
  letter-spacing: .05rem;
  font-size: 1.2rem;
  font-weight: 700;
  padding: 1.2rem 2.2rem;
  border-radius: 2em;
  cursor: pointer;

}

.description-section {
  margin: 8rem 0 0 0;
  /* padding-bottom: 1rem; */
  width: 100%;
  height: auto;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  background-color: hsl(225, 33.3%, 95.3%);
  gap: 1rem;
}

.shorten-link {
  position: relative;
  top: -9rem;
  width: 360px;
  margin-top: 5rem;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  /* border: solid red; */
  padding: 1.5rem .5rem;
  gap: 1.2rem;
  border-radius: .5rem;
  background-color: var(--clr-purple-950);
  background-image: url(/images/bg-shorten-mobile.svg);
  background-repeat: no-repeat;
  background-position: right;
}

.input-link {
  width: 325px;
  height: 40px;
  border-radius: .3rem;
  outline: none;
  border: none;
  padding: .07rem .5rem;
  font-size: 1.1rem;
  font-weight: 500;
  color: var(--clr-gray-500);

}

.btn-shorten-link {
  width: 328px;
  height: 40px;
  padding: .07rem 1rem;
  background-color: var(--clr-blue-400);
  color: white;
  font-size: 1.1rem;
  font-weight: 700;
  letter-spacing: .05rem;
  border: none;
  outline: none;
  border-radius: .3rem;
  cursor: pointer;
}

.advanced-stat {
  width: 400px;
  margin-top: -5rem;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  
  
}

h2 {
  font-size: 1.8rem;
  color: var(--clr-gray-900);
  margin-bottom: 1rem;
}

.advanced-stat .description {
  font-size: 1.1rem;
  color: var(--clr-gray-500);
  text-align: center;
  /* margin-bottom: 2rem; */
}

.horizontal-bar {
  width: 10px;
  height: 720px;
  background-color: var(--clr-blue-400);
  position: absolute;
  top: 95rem;

}

.brand-recognition {
  z-index: 9999;
  width: 350px;
  height: 250px;
  margin-top: 6rem;
  padding: 0 1.5rem 3rem 1.5rem;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  /* border: solid red; */
  border-radius: .8rem;
  color: white;
  text-align: center;
  background-color: white;
  line-height: 1.3;
  /* box-shadow: 0 2px 5px rgba(0,0,0,0.2); */
  
}
img.fully-customizable {
  /* margin-top: -4rem; */
  margin-left: -.5rem;
}
h3 {
  font-size: 1.5rem;
  color: var(--clr-gray-900);
  margin-bottom: 1rem;
  margin-top: 1.5rem;
}
.brand-image {
  position: relative;
  padding: 2rem;
  /* bottom: 1rem; */
  width: 100px;
  height: 100px;
  border-radius: 50px;
  background-color: var(--clr-purple-950);
}
.brand-image img {
  display: flex;
  justify-content: center;
  align-items: center;
}

h3 {
  font-size: 1.5rem;
  color: var(--clr-gray-900);
  margin-bottom: 1rem;
}

.brand-recognition .description {
  font-size: 1.1rem;
  color: var(--clr-gray-500);
  text-align: center;
  margin-bottom: 2rem;
}


.boost-link {
  margin-top: 6rem;
  background-image: url(/images/bg-boost-mobile.svg);
  background-repeat: no-repeat;
  background-position: right;
  background-color: var(--clr-purple-950);
  width: 100%;
  padding: 5rem 1rem;
  display: flex;
  justify-content: space-between;
  align-items: center;
  flex-direction: column;
  gap: 1rem;
}

.boost-link h2 {
  color: white;
  
}

.footer-link-section {
  /* border: solid green; */
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  gap: .5rem;
  text-align: center;
  line-height: 2.5;
  margin-top: 1rem;
}

.footer-content {
  background-color: var(--Gray-950);
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  gap: 2rem;
}

.footer-logo img {
  margin-top: 2.5rem;
  filter: brightness(0) invert(1);
}
h4 {
  color: white;
  font-size: 1.3rem;
}

.footer-links {
  /* border: solid red; */
}

ul li {
  list-style-type: none;
  /* display: block; */
}
ul a {
  text-decoration: none;
  /* width: 100%; */
  color: var(--clr-gray-400);
  
}
ul a:hover {
  color: var(--clr-blue-400);
}

.social-links a {
  margin: 0 1rem;
  display: inline-block;
  cursor: pointer;
}

.social-icons {
  padding: 3rem;
  display: flex;
  gap: 2rem;

}


@media (min-width: 688px) {
  body {
    /* background-color: red; */

  }

  .mob-header {
    display: none;
  }
  .desktop-header {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 1.5rem;
  }
  .desktop-header-logo-links {
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 2rem;
  }
  .desktop-header ul {
    display: flex;
    gap: 1.5rem;

  }
  /* .desktop-header ul li {

    cursor: pointer;
  } */
  .desktop-header ul li a {
    color: var(--clr-gray-500);
  }

  .desktop-header-btns {
    display: flex;
    gap: 1rem;
    justify-content: center;
    align-items: center;
  }
  .login-btn {
    outline: none;
    border: none;
    background: transparent;
    color: var(--clr-gray-500);
    font-weight: var(--fnt-weight-700);

  }
  .btn-get-started {
    letter-spacing: .01rem;
  font-size: 1rem;
  font-weight: 700;
  padding: .7rem 1rem;
  border-radius: 3em;
  cursor: pointer;
  }
}


